{% extends 'core/sidebar.html' %}
{% load static %}
{% block title %}{{object}}{% endblock %}
{% block css %}
<link href="{% static 'core/css/card-img-top.css' %}" rel="stylesheet">
<link href="{% static 'core/css/detail.css' %}" rel="stylesheet">
<link href="{% static 'core/css/slide.css' %}" rel="stylesheet">
<link href="{% static 'ad/css/style.css' %}" rel="stylesheet">
<link href="{% static 'ad/css/ui.css' %}" rel="stylesheet">
<link href="{% static 'ad/css/custom.css' %}" rel="stylesheet">
{% endblock %}
{% block nextTop %}
?next={% url 'ad_detail' object.pk %}
{% endblock %}
{% block nextSide %}
?next={% url 'ad_detail' object.pk %}
{% endblock %}
{% block content %}
<div id="fb-root"></div>

<div class="row">
    <div class="col-12 col-md-5">
        <div class="row">
        <div class="col-2" id="img-thumb-container">
            <ul class="thumb list-unstyled">
            {% for img in object.ad_images.all %}
                <li class="pb-2"><a href="#"><img class="img-thumb border" src="{{img.img_route.url}}" alt="thumb"></a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-10">
            <div class="img-box w-100 bg-light" id="img-box-container">
            <img class="img-detail contain border" id="img-detail" src="{{ object.ad_images.first.img_route.url }}" alt="azul">
            </div>
        </div>
        </div>
    </div>
    <div class="col-12 col-md-7">
        <h3 class="title">{{object.ad_name}}</h3>
        <table class="table table-sm table-borderless">
            <tbody>
                <tr>
                    <th scope="row" colspan="2"><h4>Detalles</h4></th>
                </tr>
                <tr>
                    <th scope="row"><h5 class="font-weight-bold">Precio</h5></th>
                    <td><h5>{{object.id_currency.currency_sign}} {{object.price}}</h5></td>
                </tr>
                <tr>
                    <th scope="row"><h5 class="font-weight-bold">Descripcion</h5></th>
                    <td><h5>{{object.ad_description}}</h5></td>
                </tr>
                <tr>
                    <th scope="row"><h5 class="font-weight-bold">Ubicación</h5></th>
                    <td><h5>{{object.id_location}}</h5></td>
                </tr>
                <tr>
                    <th scope="row"><h5 class="font-weight-bold">Publicado</h5></th>
                    <td><h5>{{object.date_created | date:'d-m-Y g:ia'}}</h5></td>
                </tr>
                {% if request.user.is_authenticated %}
                <tr>
                    <th scope="row" colspan="2"><h4>Información de contacto</h4></th>
                </tr>
                <tr>
                    <th scope="row"><h5 class="font-weight-bold">Usuario</h5></th>
                    <td><h5>{{object.id_user.get_full_name}}</h5></td>
                </tr>
                <tr>
                    <th scope="row"><h5 class="font-weight-bold">Correo electrónico</h5></th>
                    <td><h5>{{object.id_user}}</h5></td>
                </tr>
                <tr>
                    <th scope="row"><h5 class="font-weight-bold">Teléfono</h5></th>
                    <td><h5>+504 {{object.id_user.phone_number}}</h5></td>
                </tr>
                <tr>
                    <th scope="row"><h5 class="font-weight-bold">En Pa'Ya desde</h5></th>
                    <td><h5>{{object.id_user.date_joined | date:'d-m-Y'}}</h5></td>
                </tr>
                {% else %}
                <tr>
                    <td scope="row" colspan="2">Inicia sesión o registrate para poder ver información del vendedor.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
        <a href="https://api.whatsapp.com/send?phone=504{{object.id_user.phone_number}}&text=Hola%21%20Estoy%20interesado%20en%20tu%20anuncio%20de%20Pa%27Ya." class="btn btn-success" target="_blank"><i class="fab fa-whatsapp"></i> Contactar</a>
        <div class="fb-share-button" data-href="https://paya.com" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fpaya.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartir</a></div>
    </div>
</div>
{% endblock %}
{% block js %}
    {# jQuery esta ya incluido antes de este bloque #}
    <script src="{% static 'ad/js/script.js' %}"></script>
    <script src="{% static 'core/js/collapse-sidebar.js' %}"></script>
    <script src="{% static 'core/js/img-height.js' %}"></script>
    <script src="{% static 'core/js/slide.js' %}"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v6.0"></script>
{% endblock %}