{% extends 'core/sidebar.html' %}
{% load static %}
{% block title %}
Anuncios de {{ category_name }}
{% endblock %}
{% block css %}
<link href="{% static 'core/css/card-img-top.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card border-left-primary border-bottom-primary shadow my-3">
      <div class="card-header py-2">
        <div class="row">
          {% if object_list.count == 0 %}
          <div class="col-12">
            <h2 class="m-0 font-weight-bold text-primary">
              Anuncios en Categoría de {{ category_name }}
            </h2>
          </div>
          {% else %}
          <div class="col-sm-8">
            <h2 class="m-0 font-weight-bold text-primary">
              Anuncios en Categoría de {{ category_name }}
            </h2>
          </div>
          {% if not request.user.is_authenticated %}
            <div class="col-sm-4">
              <a href="{% url 'login' %}?next={% url 'products_category' c %}" class="btn btn-primary btn-block">Crear un anuncio</a>
            </div>
          {% else %}
          <div class="col-sm-4">
            <a href="#" data-toggle="modal" data-target="#modalAgregarAnuncio" class="btn btn-primary btn-block">Crear un anuncio</a>
          </div>
          {% endif %}
          {% endif %}
        </div>
      </div>
      {% if object_list.count == 0 %}
      <div class="card-body">
        <h3>La categoría de {{ category_name }} aun no contiene anuncios publicados.</h3>
        <p>Categorizamos nuestros anuncios para ayudarte a encontrar lo que buscas de manera más rápida.</p>
        <p>Periodicamente se remueven anuncios para mostrar sólo los más recientes..</p>
        {% if not request.user.is_authenticated %}
          <a href="{% url 'login' %}?next={% url 'products_category' c %}" class="btn btn-primary btn-block">Crear un anuncio</a>
        {% else %}
          <a href="#" data-toggle="modal" data-target="#modalAgregarAnuncio" class="btn btn-primary btn-block">Crear un anuncio</a>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{# INICIO MENSAJES DE RETROALIMENTACION POR CREAR UN ANUNCIO #}
{% if 'createdAd' in request.GET %}
<div class="col-12">
    {% if 'success' == request.GET.createdAd %}
    <div class="alert w-100 alert-success alert-dismissible fade show" role="alert">
        <strong>¡Éxito!</strong> Se han creado tu anuncio correctamente.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    {% if 'error' == request.GET.createdAd %}
    <div class="alert w-100 alert-fluid alert-danger alert-dismissible fade show" role="alert">
        <strong>¡Uuuups!</strong> Ha sucedido un error al crear tu anuncio, intenta nuevamente.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
</div>
{% endif %}
{# FIN MENSAJES DE RETROALIMENTACION POR CREAR UN ANUNCIO #}
{# INICIO MENSAJES DE RETROALIMENTACION POR ACTUALIZAR UN ANUNCIO #}
{% if 'updatedAd' in request.GET %}
<div class="row">
  <div class="col-12">
    {% if 'success' == request.GET.updatedAd %}
    <div class="alert w-100 alert-success alert-dismissible fade show" role="alert">
      <strong>¡Éxito!</strong> Se han actualizado tu anuncio correctamente.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}
    {% if 'error' == request.GET.updatedAd %}
    <div class="alert w-100 alert-fluid alert-danger alert-dismissible fade show" role="alert">
      <strong>¡Uuuups!</strong> Ha sucedido un error al actualizar el anuncio, intenta nuevamente.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}
  </div>
</div>
{% endif %}
{# FIN MENSAJES DE RETROALIMENTACION POR ACTUALIZAR UN ANUNCIO #}
{# INICIO MENSAJES DE RETROALIMENTACION POR ELIMINAR UN ANUNCIO #}
{% if 'deletedAd' in request.GET %}
<div class="row">
  <div class="col-12">
    {% if 'success' == request.GET.deletedAd %}
    <div class="alert w-100 alert-success alert-dismissible fade show" role="alert">
      <strong>¡Éxito!</strong> Se ha eliminado tu anuncio correctamente.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}
    {% if 'error' == request.GET.deletedAd %}
    <div class="alert w-100 alert-fluid alert-danger alert-dismissible fade show" role="alert">
      <strong>¡Uuuups!</strong> Ha sucedido un error al eliminar el anuncio, intenta nuevamente.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}
  </div>
</div>
{% endif %}
{# FIN MENSAJES DE RETROALIMENTACION POR ELIMINAR UN ANUNCIO #}
{# INICIO MODAL CREAR ANUNCIO #}
<div class="modal fade" id="modalAgregarAnuncio" tabindex="-1" role="dialog" aria-labelledby="modalAgregarAnuncio"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Creando anuncio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'ad_create' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group my-0 py-1">
                              {# OBTENIENDO LA DIRECCION DESDE DONDE SE HACE LA PETICION, PARA SER REENVIADO AQUI NUEVAMENTE #}
                              <input type="hidden" id="next_url" name="next_url" value="{% url 'products_category' c  %}">
                                <label for="id_ad_name" class="text-muted">Nombre</label>
                                <input required type="text" class="form-control" name="ad_name" id="id_ad_name"
                                    placeholder="Nombre del anuncio" maxlength="100">
                            </div>
                        </div>
                    </div>
                    <div class="form-group my-0 py-1">
                        <label for="id_ad_description" class="text-muted">Descripción</label>
                        <textarea required aria-describedby="help_ad_description" class="form-control" rows="3"
                            name="ad_description" id="id_ad_description"
                            placeholder="Describe tu producto o servicio"></textarea>
                        <small id="help_ad_description" class="form-text text-muted">Tu información de contacto se
                            incluirá por defecto, si lo deseas, puedes incluir más detalles sobre tu anuncio
                            aquí.</small>
                    </div>
                    <div class="form-group my-0 py-1">
                        <label for="id_location">Ubicación</label>
                        <select class="form-control" name="id_location" id="id_id_location" required>
                            <option value="" disabled selected>Lugar</option>
                            {% for location in locations %}
                            <option value="{{location.pk}}" {% if location.pk == request.user.location.pk %} selected
                                {% endif %}>{{location}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group my-0 py-1">
                                <label for="id_price" class="text-muted">Precio</label>
                                <input required type="number" class="form-control" name="price" id="id_price"
                                    placeholder="Precio" step="any">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group my-0 py-1">
                                <label for="id_currency" class="text-muted">Moneda</label>
                                <select class="form-control" name="id_currency" id="id_id_currency">
                                    {% for currency in currencies %}
                                    <option value="{{currency.pk}}">{{currency.currency_sign}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="id_ad_kind" class="text-muted">Tipo de anuncio</label>
                            <select class="form-control" name="id_ad_kind" id="id_id_ad_kind">
                                <option value="" disabled selected>Tipo de anuncio</option>
                                {% for kind in ad_kinds %}
                                <option value="{{kind.pk}}">{{kind}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_id_category" class="text-muted">Categoria</label>
                                <select required placeholder="Categoría" class="form-control" name="id_category"
                                    id="id_id_category">
                                    <option value="{{c}}">{{category_name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="custom-file">
                                <input type="file" multiple class="custom-file-input" id="id_images" name="images"
                                    accept="image/*" aria-describedby="help_images" required>
                                <label class="custom-file-label" for="id_images">Fotos</label>
                                <small id="help_images" class="form-text text-muted">Puedes seleccionar varias fotos, si
                                    usas un ordenador puedes arrastrarlas aquí.</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{# FIN MODAL CREAR ANUNCIO #}
{# INICIO CARDS ANUNCIOS #}
<div class="row">
  {% for data in object_list %}
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 my-2">
    {# Card anuncio #}
    <div class="card border-left-{% cycle 'success' 'secondary' 'danger' 'warning' 'primary' 'info'  %} shadow h-100 pb-2">
      {% if data.ad_images.count == 1 %}
      <a href="{% url 'ad_detail' data.pk %}"><img class="card-img-top no-border-top-left"
          src="{{data.ad_images.first.img_route.url}}" alt="Responsive image"></a>
      {% else %}
      <div id="carouselAd{{ data.pk }}" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          {% for img in data.ad_images.all %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <a href="{% url 'ad_detail' data.pk %}"><img class=" card-img-top no-border-top-left"
                src="{{img.img_route.url}}" class="img-fluid" alt="Responsive image"></a>
          </div>
          {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselAd{{ data.pk }}" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselAd{{ data.pk }}" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      {% endif %}
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'ad_detail' data.pk %}">{{data.ad_name}}</a> </h5>
        <div class="price-{{ data.id_currency.pk }}">
          <p class="my-0">Precio: {{ data.id_currency.currency_sign }} {{data.price|floatformat:"2"}}</p>
        </div>
        <div class="price-{{ data.exchange_currency.pk }}">
          <p class="my-0">Precio: {{data.exchange_currency.currency_sign}} {{data.exchange|floatformat:"2"}}</p>
          <p class="my-0 font-italic"><small>Precio original en {{ data.id_currency }}. Cambio al día de hoy según <a
                href="https://www.bch.hn/index.php" target="_blank">BCH</a>.</small></p>
        </div>
        <p class="my-0">Lugar: <a href="{% url 'search' %}?l={{ data.id_location.pk }}">{{ data.id_location }}</a></p>
      </div>
      <div class="card-footer mt-0">
          <div class="row justify-content-end">
              <div class="btn-toolbar" role="toolbar" aria-label="Ad buttons group">
                  <div class="btn-group mr-2" role="group" aria-label="Detail group">
                      <a href="{% url 'ad_detail' data.pk %}" class="btn btn-{% cycle 'success' 'secondary' 'danger' 'warning' 'primary' 'info'  %}">
                          <i class="fas fa-plus"></i> {% if data.id_user != request.user  %}Ver más{% endif %}
                      </a>
                  {% if data.id_user == request.user  %}
                      <a href="{% url 'ad_update' data.pk%}" class="btn btn-primary">
                          <i class="fas fa-edit"></i> 
                      </a>
                      <a href="#" ad="{{data.pk}}" ad-name = "{{data.ad_name}}" data-toggle="modal" data-target="#modalEliminarAnuncio" class="btn btn-danger btn-delete">
                        <i class="fas fa-trash"></i>
                    </a>
                  </div>
                  <div class="btn-group mr-2" role="group" aria-label="All group">
                      <div class="dropdown no-arrow">
                          <button class="btn btn-secondary dropdown-toggle no-arrow float-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-bars"></i>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a href="{% url 'ad_detail' data.pk %}" class="dropdown-item">
                                  <i class="fas fa-plus"></i> Ver más
                              </a>
                              <a href="{% url 'ad_update' data.pk%}" class="dropdown-item">
                                  <i class="fas fa-edit"></i> Editar
                              </a>
                              <a href="#" ad="{{data.pk}}" ad-name = "{{data.ad_name}}" data-toggle="modal" data-target="#modalEliminarAnuncio" class="dropdown-item btn-delete">
                                  <i class="fas fa-trash"></i> Eliminar
                              </a>
                          </div>
                      </div>
                  {% endif %}
                  </div>
              </div>
          </div>
      </div>
    </div>
    {# FIN Card anuncio #}
  </div>
  {% endfor %}
</div>
{# FIN CARDS ANUNCIOS #}
{% if object_list.count != 0 %}
<div class="row">
  <div class="col-12">
    {% if page_obj.has_other_pages %}
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link"
          href="{% url 'products_category' category_pk %}?page={{ page_obj.previous_page_number }}">Anterior</a></li>
      {% endif %}
      {% if page_obj.number != 1 %}
      <li class="page-item"><a class="page-link" href="{% url 'products_category' category_pk %}?page=1">Primera</a>
      </li>
      {% endif %}
      <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }} de
          {{ page_obj.paginator.num_pages }}</a></li>
      {% if page_obj.number != page_obj.paginator.num_pages %}
      <li class="page-item"><a class="page-link"
          href="{% url 'products_category' category_pk %}?page={{ page_obj.paginator.num_pages }}">Última</a></li>
      {% endif %}
      {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link"
          href="{% url 'products_category' category_pk %}?page={{ page_obj.next_page_number }}">Siguiente</a></li>
      {% endif %}
    </ul>
    {% else %}
    <p>Página 1 de 1 </p>
    {% endif %}
    <p>{{ page_obj.paginator.per_page }} anuncios por página </p>
  </div>
</div>
{% endif %}
{# INICIO MODAL ELIMINAR ANUNCIO #}
{% if request.user.is_authenticated%}
<div class="modal fade" id="modalEliminarAnuncio" tabindex="-1" role="dialog" aria-labelledby="modalEliminarAnuncio"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Estás seguro de eliminar <span id="span_ad_name"></span>?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'ad_delete' %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    {# OBTENIENDO LA DIRECCION DESDE DONDE SE HACE LA PETICION, PARA SER REENVIADO AQUI NUEVAMENTE #}
                    <input type="hidden" id="next_url" name="next_url" value="{% url 'products_category' c  %}">
                    {# OBTENIENDO EL ID DE ANUNCIO #}
                    <input type="hidden" id="id_ad_delete" name="id_ad" value="-1">
                    <p>Selecciona porque lo quieres eliminar.</p>
                    <div class="form-group my-0 py-1 custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline1" name="delete" class="custom-control-input" value="0"
                            required>
                        <label class="custom-control-label" for="customRadioInline1">Lo he vendido.</label>
                    </div>
                    <div class="form-group my-0 py-1 custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" name="delete" class="custom-control-input" value="1"
                            required>
                        <label class="custom-control-label" for="customRadioInline2">Ya no quiero mostrarlo.</label>
                    </div>
                </div>
                <div class="card-footer mt-0">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger" >Eliminar anuncio</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
{# FIN MODAL ELIMINAR ANUNCIO #}
{% endblock %}
{% block js %}
<script src="{% static 'core/js/custom.js' %}"></script>
{% endblock %}