{% extends 'core/sidebar.html' %}
{% load static %}
{% block title %}{{object}}{% endblock %} 
{% block css %}
<link href="{% static 'core/css/card-img-top.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2"> 
            <a href="#" class="btn btn-primary m-1">Nuevo Anuncio</a>
        </div>
        {% for product in products %}
            {% if product.id_category == object %}
                <div class="col-md-3 mb-4"> 
                    <div class="card border-left-{% cycle 'primary' 'info' 'success' 'secondary' 'danger' 'warning' %} shadow h-100 pb-2">
                        {% if product.ad_images.count == 1 %}
                        {% for img in product.ad_images.all %}
                        <a href="{% url 'ad_detail' product.pk %}"><img class="card-img-top no-border-top-left" src="{{img.img_route.url}}" alt="Card image cap"></a>
                        {% endfor %}
                        {% else %}
                        <div id="carouselAd{{ product.pk }}" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                {% for img in product.ad_images.all %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <a href="{% url 'ad_detail' product.pk %}"><img class="card-img-top no-border-top-left" src="{{img.img_route.url}}"></a>
                                </div>
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#carouselAd{{ product.pk }}" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselAd{{ product.pk }}" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        {% endif %}
                        <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'ad_detail' product.pk %}">{{product.ad_name}}</a></h5>
                        <p class="card-text"><strong>Precio: &nbsp; {{product.price}}</strong> 
                            <a href="#"></a>
                        </p>
                        <p class="card-title">{{ product.id_location }}</p>
                        <span>{{data.date_created}}</span>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}