{% extends 'core/sidebar.html' %}
{% load static %}
{% block title %}
Tiendas
{% endblock %}
{% block css %}
<link href="{% static 'core/css/card-img-top.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
{# INICIO HEAD #}
<div class="row">
    <div class="col-12">
        <div class="card shadow my-3">
            <div class="card-header py-2">
                <div class="row">
                    {% if object_list.count == 0 %}
                    <div class="col-12">
                        <h2 class="m-0 font-weight-bold text-primary">
                            Anuncios en Categoría de {{ category_name }}
                        </h2>
                    </div>
                    {% else %}
                    <div class="col-sm-10">
                        <h2 class="m-0 font-weight-bold text-primary text-justify">
                            <i class="fas fa-store"></i> Tiendas Pa'Ya
                        </h2>
                    </div>
                    {% if not request.user.is_authenticated %}
                    <div class="col-sm-2">
                        <a href="#" class="btn btn-primary btn-block ">Tiendas en Pa'Ya</a>
                    </div>
                    {% else %}
                    <div class="col-sm-2">
                        <a href="#" data-toggle="modal" data-target="#modalAgregarAnuncio"
                            class="btn btn-primary float-right"><i class="fas fa-plus"></i><strong> Crear
                                Tienda</strong></a>
                    </div>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            {% if object_list.count == 0 %}
            <div class="card-body">
                <h3>La categoría de {{ category_name }} aun no contiene anuncios publicados.</h3>
                <p>Categorizamos nuestros anuncios para ayudarte a encontrar lo que buscas de manera más rápida.</p>
                <p>Periodicamente se remueven anuncios para mostrar sólo los más recientes..</p>
                {% if not request.user.is_authenticated %}
                <a href="{% url 'login' %}?next={% url 'products_category' c %}" class="btn btn-primary btn-block">Crear
                    un anuncio</a>
                {% else %}
                <a href="#" data-toggle="modal" data-target="#modalAgregarAnuncio"
                    class="btn btn-primary btn-block">Crear un anuncio</a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{# FIN HEAD #}
{# INICIO CARDS STORES #}
<div class="row px-0">
    {% for data in object_list %}
    <div class="col-md-3 col-sm-4 my-3">
        <div class="card  shadow h-100 pb-2">
            <a href="{% url 'store_detail' data.pk %}"><img class="card-img-top no-border-top-left"
                    src="{{data.store_profile_img.img_route.url}}" alt="Responsive image"></a>
            <div class="card-body pb-3">
                <h5 class="card-title"><a href="{% url 'store_detail' data.pk %}">{{data.store_name}}</a></h5>
                <i class="fas fa-map-marker-alt"></i> {{data.store_location}}
            </div>
            <div class="card-footer bg-white mt-0">
                <div class="row justify-content-end">
                    <div class="btn-toolbar" role="toolbar" aria-label="Ad buttons group">
                        <div class="btn-group mr-2" role="group" aria-label="Detail group">
                            <a href="{% url 'store_detail' data.pk %}"
                                class="btn btn-light bg-white text-secondary border-0" data-toggle="tooltip"
                                data-placement="bottom" title="Ver más">
                                <i class="fas fa-plus"></i> Ver más
                            </a>
                            {% if request.user.pk in owners  %}
                            <a href="{% url 'ad_update' data.pk%}"
                                class="btn btn-light bg-white text-secondary border-0" data-toggle="tooltip"
                                data-placement="bottom" title="Editar">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="#" ad="{{data.pk}}" ad-name="{{data.ad_name}}" data-toggle="modal"
                                data-target="#modalEliminarAnuncio" data-toggle="tooltip" data-placement="bottom"
                                title="Eliminar" class="btn btn-light bg-white text-secondary border-0 btn-delete">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="All group">
                            <div class="dropdown no-arrow">
                                <button
                                    class="btn btn-light bg-white text-secondary border-0 dropdown-toggle no-arrow float-right"
                                    type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <i class="fas fa-bars"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a href="{% url 'ad_detail' data.pk %}" class="dropdown-item text-secondary">
                                        <i class="fas fa-plus"></i> Ver más
                                    </a>
                                    <a href="{% url 'ad_update' data.pk%}" class="dropdown-item text-secondary">
                                        <i class="fas fa-edit"></i> Editar
                                    </a>
                                    <a href="#" ad="{{data.pk}}" ad-name="{{data.ad_name}}" data-toggle="modal"
                                        data-target="#modalEliminarAnuncio"
                                        class="dropdown-item text-secondary btn-delete">
                                        <i class="fas fa-trash"></i> Eliminar
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{# FIN CARDS STORES #}
<div class="row">
    <div class="col-12">
      {% if page_obj.has_other_pages %}
      <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link"
            href="{% url 'store_list'  %}?page={{ page_obj.previous_page_number }}">Anterior</a></li>
        {% endif %}
        {% if page_obj.number != 1 %}
        <li class="page-item"><a class="page-link" href="{% url 'store_list' %}?page=1">Primera</a>
        </li>
        {% endif %}
        <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }} de
            {{ page_obj.paginator.num_pages }}</a></li>
        {% if page_obj.number != page_obj.paginator.num_pages %}
        <li class="page-item"><a class="page-link"
            href="{% url 'store_list' %}?page={{ page_obj.paginator.num_pages }}">Última</a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link"
            href="{% url 'store_list'  %}?page={{ page_obj.next_page_number }}">Siguiente</a></li>
        {% endif %}
      </ul>
      {% else %}
      <p>Página 1 de 1 </p>
      {% endif %}
      <p>{{ page_obj.paginator.per_page }} anuncios por página </p>
    </div>
  </div>
{% endblock %}