{% extends 'core/sidebar.html' %}
{% load static %}
{% block title %}
{% if request.user.pk == user_pk %}
Mis tiendas
{% else %}
Tiendas de {{user_name}}
{% endif %}
{% endblock %}
{% block css %}
<link href="{% static 'core/css/card-img-top.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
{% if 'deleted' in request.GET %}
<!-- Mensaje por la eliminacion  de una tienda -->
<div class="row">
    {% if 'success' == request.GET.deleted %}
    <div class="alert w-100 alert-success alert-dismissible fade show" role="alert">
        <strong>¡Éxito!</strong> La tienda ha sido eliminada correctamente.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    {% if 'error' == request.GET.deleted %}
    <div class="alert w-100 alert-fluid alert-danger alert-dismissible fade show" role="alert">
        <strong>¡Uuuups!</strong> Ha sucedido un error al eliminar la tienda, intente de nuevo.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
</div>
{% endif %}

{% if 'added' in request.GET %}
<!-- Mensaje por la eliminacion  de una tienda -->
<div class="row">
    {% if 'success' == request.GET.added %}
    <div class="alert w-100 alert-success alert-dismissible fade show" role="alert">
        <strong>¡Éxito!</strong> La tienda ha sido creada correctamente.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    {% if 'error' == request.GET.added %}
    <div class="alert w-100 alert-fluid alert-danger alert-dismissible fade show" role="alert">
        <strong>¡Uuuups!</strong> Ha sucedido un error al crear la tienda, intente de nuevo.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
</div>
{% endif %}

<div class="row">
    <div class="col-12">
        <div class="card border-left-primary border-bottom-primary shadow mb-4">
            <div class="card-header py-3">
                <div class="row">
                    {% if request.user.pk == user_pk and object_list.count == 0 %}
                    <div class="col-12">
                        <h2 class="m-0 font-weight-bold text-primary">
                            Mis tiendas
                        </h2>
                    </div>
                    {% else %}
                    {% if request.user.pk == user_pk %}
                    <div class="col-sm-8">
                        <h2 class="m-0 font-weight-bold text-primary">
                            Mis tiendas
                        </h2>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-primary btn-block" href="#" data-toggle="modal"
                            data-target="#modalCrearTienda">Crear tienda</button>
                    </div>
                    {% else %}
                    <div class="col-12">
                        <h2 class="m-0 font-weight-bold text-primary">
                            Tiendas de {{user_name}}
                        </h2>
                    </div>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            {% if object_list.count == 0 %}
            <div class="card-body">
                {% if request.user.pk == user_pk %}
                <h4 class="font-weight-bold">Aun no tienes una tienda creada</h4>
                <p>Las tiendas te ayudan a vender productos de manera no personal. Si tus productos representan una
                    marca o tienda, deberías crear una. Podrás publicar productos con la tienda o con tu cuenta
                    personal.</p>
                <h5 class="font-weight-bold">Crear una tienda</h5>
                <form action="{% url 'create_store' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <input required type="text" type="text" class="form-control" name="store_name"
                            id="id_store_name" placeholder="Nombre de la tienda">
                    </div>
                    <div class="form-group">
                        <textarea required aria-describedby="help_ad_description" class="form-control" rows="2"
                            name="store_description" id="id_store_description"
                            placeholder="Describe tu tienda, si quieres brinda detalles de la dirección y formas de contacto."></textarea>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="store_location" id="id_store_location">
                            {% for location in all_locations %}
                            <option value="{{location.pk}}">{{location}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Crear tienda</button>
                </form>
                {% else %}
                <h2 class="small font-weight-bold">{{user_name}} aun no tiene una tienda creada</h2>
                <h3 class="small font-weight-bold">Las tiendas te ayudan a vender productos de manera no personal, si
                    tus productos representan una marca o tienda deberías crear una, podrás publicar productos con la
                    tienda o con tu cuenta personal.</h3>
                <a href="{% url 'user_stores' request.user.id %}" class="btn btn-primary">Ir a Mis tiendas</a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="row">
    {% for data in object_list %}
    <div class="col-12 col-sm-6 col-md-5 col-lg-3 mb-3">
        {# Card anuncio #}
        <div
            class="card border-left-{% cycle 'info' 'success' 'secondary' 'danger' 'warning' 'primary' %} shadow h-100 pb-2">
            {% if data.store_images.count == 1 %}
            <a href="{% url 'store_detail' data.pk %}"><img class="card-img-top no-border-top-left"
                    src="{{data.store_images.first.img_route.url}}" alt="Responsive image"></a>
            {% else %}
            <div id="carouselAd{{ data.pk }}" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% for img in data.store_images.all %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <a href="{% url 'store_detail' data.pk %}"><img class=" card-img-top no-border-top-left"
                                src="{{img.img_route.url}}" class="img-fluid" alt="Responsive image"></a>
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselAd{{ data.pk }}" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselAd{{ data.pk }}" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            {% endif %}
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'store_detail' data.pk %}">{{data.store.store_name}}</a> </h5>
                <h6>{% if data.id_store != None %} {{data.id_store}} {% endif %}</h6>
                <div class="price-{{ data.id_currency.pk }}">
                    <p class="my-0">Precio: {{ data.id_currency.currency_sign }} {{data.price|floatformat:"2"}}</p>
                </div>
                <div class="price-{{ data.exchange_currency.pk }}">
                    <p class="my-0">Precio: {{data.exchange_currency.currency_sign}} {{data.exchange|floatformat:"2"}}
                    </p>
                    <p class="my-0 font-italic"><small>Precio original en {{ data.id_currency }}. Cambio al día de hoy
                            según <a href="https://www.bch.hn/index.php" target="_blank">BCH</a>.</small></p>
                </div>
                <p class="my-0">Categoría: <a
                        href="{% url 'search' %}?c={{ data.id_category.pk }}">{{ data.id_category }}</a></p>
                <p class="my-0">Lugar: <a
                        href="{% url 'search' %}?l={{ data.id_location.pk }}">{{ data.id_location }}</a></p>
                <p class="mt-0">Publicado: {{data.date_created|date:'d-m-Y g:ia'}}</p>
                <a href="{% url 'store_detail' data.pk %}"
                    class="btn btn-block btn-outline-{% cycle 'info' 'success' 'secondary' 'danger' 'warning' 'primary' %}">Ver
                    más</a>
                {% if data.id_user == request.user  %}
                <div class="row">
                    <div class="col-sm-6 mt-3">
                        <a href="{% url 'ad_update' data.pk%}" class="btn btn-info btn-block">Editar</a>
                    </div>
                    <div class="col-sm-6 mt-3">
                        <a href="{% url 'ad_delete' data.pk%}" class="btn btn-danger btn-block">Eliminar</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {# FIN Card anuncio #}
    </div>
    {% endfor %}
</div>
{% if object_list.count != 0 %}
<div class="row">
    <div class="col-12">
        {% if page_obj.has_other_pages %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link"
                    href="{% url 'user_stores' user_pk %}?page={{ page_obj.previous_page_number }}">Anterior</a></li>
            {% endif %}
            {% if page_obj.number != 1 %}
            <li class="page-item"><a class="page-link" href="{% url 'user_stores' user_pk %}?page=1">Primera</a></li>
            {% endif %}
            <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }} de
                    {{ page_obj.paginator.num_pages }}</a></li>
            {% if page_obj.number != page_obj.paginator.num_pages %}
            <li class="page-item"><a class="page-link"
                    href="{% url 'user_stores' user_pk %}?page={{ page_obj.paginator.num_pages }}">Última</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link"
                    href="{% url 'user_stores' user_pk %}?page={{ page_obj.next_page_number }}">Siguiente</a></li>
            {% endif %}
        </ul>
        {% else %}
        <p>Página 1 de 1 </p>
        {% endif %}
        <p>{{ page_obj.paginator.per_page }} tiendas por página </p>
    </div>
</div>
{% endif %}

{#Modal formulario crear tienda, solo se muestra cuando el usuario ya tiene tiendas creadas para no sobrecargar la interface#}
<div class="modal fade" id="modalCrearTienda" tabindex="-1" role="dialog" aria-labelledby="modalCrearTienda"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Crear una tienda</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'create_store' %}" method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                    <p>Las tiendas te ayudan a vender productos de manera no personal. Si tus productos
                        representan una
                        marca o tienda, deberías crear una. Podrás publicar productos con la tienda o con tu
                        cuenta
                        personal.</p>
                    {% csrf_token %}
                    <div class="form-group">
                        <input required type="text" type="text" class="form-control" name="store_name"
                            id="id_store_name" placeholder="Nombre de la tienda">
                    </div>
                    <div class="form-group">
                        <textarea required aria-describedby="help_ad_description" class="form-control" rows="2"
                            name="store_description" id="id_store_description"
                            placeholder="Describe tu tienda, si quieres brinda detalles de la dirección y formas de contacto."></textarea>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="store_location" id="id_store_location">
                            {% for location in all_locations %}
                            <option value="{{location.pk}}">{{location}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="custom-file">
                            <input type="file" multiple class="custom-file-input" id="id_images" name="images"
                                accept="image/*" aria-describedby="help_images" required>
                            <label class="custom-file-label" for="id_images">Fotos</label>
                            <small id="help_images" class="form-text text-muted">Puedes seleccionar varias fotos, si
                                usas un ordenador puedes arrastrarlas aquí.</small> </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Crear</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}