{% extends 'core/sidebar.html' %}
{% load static %}
{% block title %}Inicio{% endblock %} 
{% block css %}
<link href="{% static 'core/css/card-img-top.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="row">
        {% for category in categories %}              
        <div class="col-md-3 mb-4">
            <div class="card border-left-{% cycle 'primary' 'info' 'success' 'secondary' 'danger' 'warning' %} shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{category.category_name}}</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{category.category_description}}</div>
                </div>
                <div class="col-auto">
                    <i class="{{category.category_icon_class}} fa-2x"></i>
                </div>
                </div>
                <div class="row">
                <a href="{% url 'category_products' category.id %}" class="btn btn-link">Buscar en {{category.category_name}}</a>
                </div>
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}