{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon"  href="{% static 'core/img/favicon.ico' %}" type="image/x-icon">
  {% block meta %}{% endblock %} 
  <title>{% block title %}{% endblock %} | Pa’Ya</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'core/vendor/fontawesome/css/all.min.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'core/css/theme.css' %}" rel="stylesheet">
  {% block css %}{% endblock %}

</head>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->

    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
   

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fab fa-product-hunt"></i>
        </div>
        <div class="sidebar-brand-text mx-3 ">Pa'Ya </div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item {% if request.user.is_authenticated %}active{% endif %}">
        <a class="nav-link" href="{% url 'home' %}">
          <i class="fas fa-home"></i>
          <span>Inicio</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'store_list' %}">
          <i class="fas fa-store"></i>
          <span>Tiendas</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" id="currency-collapser" data-toggle="collapse" data-target="#collapseCurrency" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-coins"></i>
          <span>Moneda</span>
        </a>
        <div id="collapseCurrency" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Moneda preferida</h6>
            {% for currency in currencies %}
              <a href="#" class="collapse-item currency-display" {% if currency.pk is 1 %}selected{% endif %} currency="{{currency.pk}}">{{currency}} ({{currency.currency_sign}})</a>
            {% endfor %}
          </div>
        </div>
      </li>
      
      

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Filtros
      </div>
      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" id="prices-collapser" data-toggle="collapse" data-target="#collapsePrices" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-money-bill-wave"></i>
          <span>Precio</span>
        </a>
        <div id="collapsePrices" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Rango de precio</h6>
            <a href="#" class="collapse-item price-range" id="price-range-all" min="0.0" max="0.0" currency="1">Todo</a>
            {% for price_range in price_ranges %}
              <a href="#" class="collapse-item price-range" min="{{price_range.min_price}}" max="{{price_range.max_price}}" currency="{{price_range.currency.id}}">{{price_range}}</a>
            {% endfor %}
            <a hidden href="#" id="custom-price-range-item" class="collapse-item price-range" min="" max="" currency="1"></a>
            <h6 class="collapse-header">Personalizar rango</h6>
            <div class="collapse-item">
              <div class="form-group col-12 pl-0">
                <input type="number" class="form-control form-control-sm" id="custom-min-price" placeholder="Mínimo">
              </div>
              <div class="form-group col-12 pl-0">
                <input type="number" class="form-control form-control-sm" id="custom-max-price" placeholder="Máximo">
              </div>
              <div class="form-group col-12 pl-0">
                <button id="btn-custom-price" class="btn btn-block btn-primary btn-sm">Ir</button>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" id="locations-collapser" data-toggle="collapse" data-target="#collapseLocations" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-location-arrow"></i>
          <span>Lugar</span>
        </a>
        <div id="collapseLocations" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Departamento</h6>
            <a href="#" class="collapse-item location" location="0">Todo</a>
            {% for location in locations %}
              <a href="#" class="collapse-item location {% if location.pk == l %}bg-secondary{% endif %}" location="{{location.pk}}">{{location}}</a>
            {% endfor %}
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      {% if request.user.is_authenticated %}
      <div class="sidebar-heading">
        Perfil
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" id="profile-collapser" data-toggle="collapse" data-target="#collapseProfile" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-user"></i>
          <span>{{request.user.get_full_name}}</span>
        </a>
        <div id="collapseProfile" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a href="{% url 'profile' request.user.pk  %}" class="collapse-item">
              <i class="fas fa-address-card"></i> Perfil
            </a>
            <a href="{% url 'products_user' request.user.pk %}" class="collapse-item">
              <i class="fas fa-cube"></i>Mis Anuncios
            </a>
            <a href="{% url 'user_stores' request.user.pk %}" class="collapse-item">
              <i class="fas fa-store-alt"></i>Mis Tiendas
            </a>
            {% if request.user.is_superuser %}
              <a href="{% url 'graphs' %}" class="collapse-item">
                <i class="fas fa-chart-area"></i>Estadísticas
              </a>  
            
            <div class="dropdown-divider"></div>
            <a href="{% url 'admin:index' %}" class="collapse-item" >
              <i class="fas fa-cogs"></i> Configuración del sitio 
            </a>
            {% endif %}
            <div class="dropdown-divider"></div>
            <a href="#" data-toggle="modal" data-target="#logoutModal" class="collapse-item">
              <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
            </a>
          </div>
        </div>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'signup' %}">
          <i class="fas fa-fw fa-user-plus"></i>
          <span>Regístrate</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}{% block nextSide %}{% endblock %}">
          <i class="fas fa-fw fa-user"></i>
          <span>Ingresar</span></a>
      </li>
      {% endif %}
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-1 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form method="get" action="{% url 'search' %}" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            
            <div class="input-group">
              <div class="input-group-prepend">
                <select class="btn btn-primary resize-select" name="search_c" id="id_search_c">
                  <option class="search-c-option" value="0">Todo</option>
                  <option class="search-c-option" value="-1">Usuarios</option>
                  <option class="search-c-option" value="-2">Tiendas</option>
                  {% for category in categories %}
                    <option class="search-c-option" value="{{category.id}}">{{category}}</option>
                  {% endfor %}
                </select>
              </div>
              <input type="text" name="search_q" id="id_search_q" class="form-control bg-light border-0 small" value="" placeholder="Estoy buscando..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
            <input type="number" hidden name="search_min" id="id_min" value="0">
            <input type="number" hidden name="search_max" id="id_max" value="0">
            <input type="number" hidden name="search_currency" id="id_currency" value="1">
            <input type="number" hidden name="search_l" id="id_l" value="0">
            <input type="number" hidden name="search_r" id="id_search_r" value="0">
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw text-primary"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form method="get" action="{% url 'search' %}" class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <select class="btn btn-primary resize-select" name="search_c" id="id_search_c">
                        <option class="search-c-option" value="0">Todo</option>
                        <option class="search-c-option" value="-1">Usuarios</option>
                        <option class="search-c-option" value="-2">Tiendas</option>
                        {% for category in categories %}
                          <option class="search-c-option" value="{{category.id}}">{{category}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <input type="text" name="search_q" id="id_search_q" class="form-control bg-light border-0 small" value="" placeholder="Estoy buscando..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                  <input type="number" hidden name="search_min" id="id_min" value="0">
                  <input type="number" hidden name="search_max" id="id_max" value="0">
                  <input type="number" hidden name="search_currency" id="id_currency" value="1">
                  <input type="number" hidden name="search_l" id="id_l" value="0">
                  <input type="number" hidden name="search_r" id="id_search_r" value="0">
                </form>
              </div>
            </li>
            {% if request.user.is_authenticated %}
           
            <div class="topbar-divider d-none d-sm-block"></div>
            <!--Mis Estadisticas-->
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{request.user.first_name}}&nbsp;{{request.user.last_name}}</span>
                <img class="img-profile rounded-circle" src="{{request.user.user_img.img_route.url}}">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url 'profile' request.user.pk  %}">
                  <i class="fas fa-address-card fa-sm fa-fw mr-2 text-gray-400"></i>
                  Perfil
                </a>
                <a class="dropdown-item" href="{% url 'products_user' request.user.pk %}">
                  <i class="fas fa-cube fa-sm fa-fw mr-2 text-gray-400"></i>
                  Mis Anuncios
                </a>
                <a class="dropdown-item" href="{% url 'user_stores' request.user.pk %}">
                  <i class="fas fa-store-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Mis Tiendas
                </a>
                {% if request.user.is_superuser %}
                <a class="dropdown-item" href="{% url 'graphs' %}">
                  <i class="fas fa-chart-area fa-sm fa-fw mr-2 text-gray-400"></i>
                  Estadísticas
                </a>
                {% endif %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'admin:index' %}">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Configuración del sitio 
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Cerrar Sesion
                </a>
              </div>
            </li>
            {% else %}
            <!-- Nav Item - Login Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user fa-fw text-primary"></i>
              </a>
              <!-- Dropdown - Ingreso Registro -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url 'signup' %}">
                  <i class="fas fa-user-plus fa-sm fa-fw mr-2 text-primary"></i>
                  Regístrate
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'login' %}{% block nextSm %}{% endblock %}">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-primary"></i>
                  Ingresar
                </a>
              </div>
            </li>
            <li class="nav-item d-none d-sm-inline-block"> <a class="btn btn-link" href="{% url 'signup' %}" >Regístrate</a> </li>
            <li class="nav-item active d-none d-sm-inline-block"> <a href="{% url 'login' %}{% block nextTop %}{% endblock %}" class="btn btn-primary" >Ingresar</a> </li>
            {% endif %}
          </ul>
        </nav>
        <!-- End of Topbar -->
        {# modal denuncias #}
        {% if request.user.is_authenticated %}
        <div class="modal fade" id="modalDenuncia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <a class="text-decoration-none d-flex" href="{% url 'home' %}">
                  <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fab fa-product-hunt"></i>
                  </div>
                  <div class="sidebar-brand-text mx-0 display-5 font-weight-bold ">Pa'Ya</div>
                </a>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" >
                <form action="{% url 'complaint_user' %}" method="POST" id="Denuncia" enctype="multipart/form-data">
                  {% csrf_token %}
                  <input type="number" value="{{ object.pk }}" hidden name="id_indicated">
                  <div class="form-group">
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Que problema tienes?</label>
                      <select class="form-control" id="id_election" name="id_election">
                        <option value="">Elige una opción</option>
                        <option>Usuario</option>
                        <option>Producto</option>
                        <option>Tienda</option>
                        <option>Otro tipo</option>
                      </select>
                    </div>                   
                  </div>
                  <div class="form-group">
                    <label for="id_comment" class="text-muted">Comentario</label>
                    <textarea class="form-control" rows="2" required name="id_comment" placeholder="Espefica mas tu problema"></textarea>
                  </div>
                  <div class="modal-footer">
                      <button type="button" name="ResetForm" class="btn btn-warning float-md-right" id="ResetForm">Reset info</button>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                      <button type="submit" class="btn btn-primary">Enviar Denuncia</button>
                  </div>
                </form>
              </div>
            </div>   
          </div>
        </div>
        {% else %}
        <div class="modal fade" id="modalDenuncia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Que problema tienes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Registrate o Ingresa si quieres denunciar o reportar algo</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a class="btn btn-success" href="{% url 'signup' %}" >Regístrate</a>
                <a href="{% url 'login' %}" class="btn btn-primary" >Ingresar</a>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        


        <!-- Begin Page Content -->       
        <div class="container-fluid">
          {% block content %}
          {% endblock %}
        </div>
        
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
    <footer class="sticky-footer bg-light">
        {% block footer %}{% endblock %}
          <div class="row">
            <div class="col text-center">
              <p class="text-muted">Derechos reservados &copy; 2020 Pa’Ya</p>
            </div>
        </div>
    </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¿Listo para cerrar sesión?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Esperamos tengas un buen día, te esperamos de nuevo pronto.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary" href="{% url 'logout' %}">Cerrar Sesion</a>
        </div>
      </div>
    </div>
  </div>

  {#Search variables#}
    {#Search query#}
    <span hidden id="search_var_q">{{search_q}}</span>
    {#Search category#}
    <span hidden id="search_var_c">{{search_c}}</span>
    {#Search location#}
    <span hidden id="search_var_l">{{search_l}}</span>
    {#Search min#}
    <span hidden id="search_var_currency">{{search_currency}}</span>
    {#Search min#}
    <span hidden id="search_var_min">{{search_min}}</span>
    {#Search max#}
    <span hidden id="search_var_max">{{search_max}}</span>
    {#Search rate#}
    <span hidden id="search_var_r">{{search_r}}</span>
  {#FIN Search variables#}


<!-- Bootstrap core JavaScript-->
<script src="{% static 'core/vendor/jquery/jquery.js' %}"></script>
<script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.js' %}" ></script>
<script src="{% static 'core/vendor/bootstrap/js/bootstrap.min.js' %}" ></script>
<script src="{% static 'core/js/resize-select.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'core/vendor/jquery-easing/jquery.easing.js' %}"></script>
<!-- Custom scripts for all pages-->
<script src="{% static 'core/js/sb-admin-2.js' %}"></script>
<script src="{% static 'core/js/currency-display.js' %}"></script>
<script src="{% static 'core/js/search.js' %}"></script>
{% block js %}
{% endblock %}
</body>

</html>
