{% extends 'core/sidebar.html' %}
{% block content %}
{%for key, value in disable.items %}
  <input type="text"  value="{{value}}" id="{{key}}">
  
{% endfor %}
<!--Hidden Values active users, active ads-->
<input type="text" hidden value="{{active_users}}" id="active_users">
<input type="text" hidden value="{{inactive_users}}" id="inactive_users">
<input type="text" hidden value="{{active_ads}}" id="active_ads">
<input type="text" hidden value="{{inactive_ads}}" id="inactive_ads">

<!--Hiden values dates-->
<input type="text" hidden value="{{ene}}" id="ene">
<input type="text" hidden value="{{feb}}" id="feb">
<input type="text" hidden value="{{mar}}" id="mar">
<input type="text" hidden value="{{abr}}" id="abr">
<input type="text" hidden value="{{may}}" id="may">
<input type="text" hidden value="{{jun}}" id="jun">
<input type="text" hidden value="{{jul}}" id="jul">
<input type="text" hidden value="{{ago}}" id="ago">
<input type="text" hidden value="{{sep}}" id="sep">
<input type="text" hidden value="{{oc}}" id="oc">
<input type="text" hidden value="{{nov}}" id="nov">
<input type="text" hidden value="{{dic}}" id="dic">
<!--Hiden Values Search-->
<input type="text" hidden value="{{ad_search}}" id="ad_search">
<input type="text" hidden value="{{user_search}}" id="user_search">
<input type="text" hidden value="{{store_search}}" id="store_search">
<input type="text" hidden value="{{custom_price_range}}" id="custom_price_range">
<!---Graphs-->
<div class="container-fluid">
    <div class="row">
       <div id="new_users" class="col-md-12 p-1"></div>
       <div id="users_actives_vs_inactives" class="col-md-6 p-1"></div> 
       <div id="ads_actives_vs_inactives" class="col-md-6 p-1"></div>
       <div id="search" class="col-md-12 p-1"></div>
    </div>
</div>
    
{% endblock %}

{% block js %}
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>

<script>
  let actives= Number($("#active_users").val());
  let inactives= Number($("#inactive_users").val());
  zingchart.render({
    id: 'users_actives_vs_inactives',
    data: {
        type: "ring3d",
        title: {
        text: "Usuarios<br>Activos Vs Inactivos"
         },
        scale: {
        'size-factor':0.8
        },
        legend: {
            header: {
            text: "Usuarios",
            'font-family': "Georgia",
            'font-size':12,
            'font-color': "black",
            'font-weight': "normal"
            },
            layout: "2x1", 
            x: "80%",
            y: "75%",
        },
    plot: {
        tooltip: {
        text: "%t<br>%v"
        }
    },
    series: [
        { values: [actives], text:"Activos",'background-color': "#4C71DE"},
        { values: [inactives], text:"Inactivos",'background-color': "#E74A3B"},
      
      ]
      },
      height: '370px',
      width: '500px'
});
</script>

<script>
  let actives_ads= Number($("#active_ads").val());
  let inactives_ads= Number($("#inactive_ads").val());
    zingchart.render({
      id: 'ads_actives_vs_inactives',
      data: {
          type: "ring3d",
          title: {
          text: "Anuncios<br>Activos Vs Inactivos"
           },
          scale: {
          'size-factor':0.8
          },
          legend: {
              header: {
              text: "Anuncios",
              'font-family': "Georgia",
              'font-size':12,
              'font-color': "black",
              'font-weight': "normal"
              },
              layout: "2x1", 
              x: "80%",
              y: "75%",
          },
      plot: {
          tooltip: {
          text: "%t<br>%v"
          }
      },
      series: [
        { values: [actives_ads], text:"Activos",'background-color': "#17A673"},
        { values: [inactives_ads], text:"Inactivos",'background-color': "#E74A3B"},
      
      ]
      },
      height: '370px',
      width: '500px'
  });
  </script>

  <script>
    let ene= Number($("#ene").val());
    let feb= Number($("#feb").val());
    let mar= Number($("#mar").val());
    let abr= Number($("#abr").val());
    let may= Number($("#may").val());
    let jun= Number($("#jun").val());
    let jul= Number($("#jul").val());
    let ago= Number($("#ago").val());
    let sep= Number($("#sep").val());
    let oc= Number($("#oc").val());
    let nov= Number($("#nov").val());
    let dic= Number($("#dic").val());
    zingchart.render({
      id: 'new_users',
      data: {
          type: "bar3d",
          '3d-aspect': {
         true3d: false
        },
          title: {
          text: "Nuevos Usuarios"
           },
          scale: {
          'size-factor':0.8
          },
          legend: {
              layout: "12x1", 
              x: "88%",
              y: "10%",
          },
      plot: {
          tooltip: {
          text: "%t<br>%v"
          }
      },
      series: [
        { values: [ene], text:"Enero",'background-color': "#4C71DE"},
        { values: [feb], text:"Febrero",'background-color': "#E74A3B"},
        { values: [mar], text:"Marzo",'background-color': "#F4B619"},
        { values: [abr], text:"Abril",'background-color': "#17A673"},
        { values: [may], text:"Mayo",'background-color': "#a5179e"},
        { values: [jun], text:"Junio",'background-color': "#D04335"},
        { values: [jul], text:"Julio",'background-color': "#1697a3"},
        { values: [ago], text:"Agosto",'background-color': "#9e5716"},
        { values: [sep], text:"Septiembre",'background-color': "#7e4fd6"},
        { values: [oc], text:"Octubre",'background-color': "#4ed3b0"},
        { values: [nov], text:"Noviembre",'background-color': "#a74cce"},
        { values: [dic], text:"Diciembre",'background-color': "#ccb84b"},
      
      ]
      },
      height: '370px',
      width: '100%'
  });
  </script>


<script>
  let ad_search= Number($("#ad_search").val());
  let user_search= Number($("#user_search").val());
  let store_search= Number($("#store_search").val());
  let custom_price_range= Number($("#custom_price_range").val());

    zingchart.render({
      id: 'search',
      data: {
          type: "pie",
          title: {
          text: "Busquedas de Usuario"
           },
          scale: {
          'size-factor':0.8
          },
          legend: {
              header: {
              text: "Busquedas",
              'font-family': "Georgia",
              'font-size':12,
              'font-color': "black",
              'font-weight': "normal"
              },
              layout: "4x1", 
              x: "80%",
              y: "10%",
          },
      plot: {
          tooltip: {
          text: "%t<br>%v"
          }
      },
      series: [
        { values: [ad_search], text:"Anuncios",'background-color': "#17A673"},
        { values: [user_search], text:"Usuarios",'background-color': "#4C71DE"},
        { values: [store_search], text:"Tiendas",'background-color': "#D04335"},
        { values: [custom_price_range], text:"Precios",'background-color': "#F4B619"},
      
      ]
      },
      height: '370px',
      width: '500px'
  });
  </script>
{% endblock %}